.footer-container {
  background-color: #862233;
  color: rgb(175, 169, 169);
  padding-top: 4%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.footer-div {
  flex: 0 0 30%;
  max-width: 30%;
  margin-bottom: 20px;
}

.footer-h2 {
  font-weight: 700;
  color: #f5c3cb;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  line-height: 1.5;
}

.footer-para {
  text-align: justify;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  justify-content: space-between;
}

.footer-copy {
  padding-top: 14px;
  font-size: 12px;
  color: darkgray;
}

.footer-copy-div {
  background-color: #410f17;
  margin: 0;
}

.social-icons {
  margin-top: 10px;
}

.footer-icon {
  text-decoration: none;
  color: #f5c3cb;
  font-size: 15px;
  margin-right: 4%;
  transition: color 0.3s ease-in-out;
}

.footer-icon:hover {
  color: #bdaaf3;
}

/* Media Queries */

@media (max-width: 768px) {
  .footer-div {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer-p {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Media Query for Larger Screens */
@media (min-width: 1200px) {
  .footer-container {
    padding-top: 3%;
  }

  .footer-row {
    justify-content: space-around;
  }

  .footer-div {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .footer-p {
    padding-left: 30px;
    padding-right: 30px;
  }
}
