/* heading.css */

/* Carousel container */
.heading-carousel {
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Carousel indicators */
.heading-carousel-indicators {
  bottom: 20px;
}

.heading-carousel-indicators-btn {
  background-color: #888;
  margin: 0 5px;
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  opacity: 0.7;
  transition: background-color 0.3s ease;
}

.heading-carousel-indicators .active {
  background-color: #333;
  opacity: 1;
}

/* Carousel caption */
.heading-carousel-caption {
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent); /* Gradient background */
  color: #fff;
  border-radius: 15px;
  padding: 20px;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease;
}

.heading-h5 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.heading-p {
  font-size: 1.3rem;
}

/* Carousel item image */
.heading-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: grayscale(20%) sepia(30%) contrast(150%) brightness(95%);
  transition: filter 0.5s ease; /* Smooth filter transition */
}

/* Hover effect on image */
.heading-img:hover {
  filter: grayscale(0%) sepia(0%) contrast(100%) brightness(100%);
}

/* Carousel controls */
.heading-carousel-control-prev,
.heading-carousel-control-next {
  display: none;
}

/* Custom controls */
/* .custom-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.custom-controls button {
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-controls button:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
} */
