.what {
    color: #862233;
    font-weight: 700;
    font-size: 1rem;
}

.caption {
    font-weight: 900;
    font-size: 1.5rem;
}

.services-container {
    font-family: "Montserrat", sans-serif;
    padding: 0 7% 7%;
    margin: 0 auto;
}

.services-header {
    text-align: center;
    color: #343a40;
    border-radius: 12px;
    font-size: 28px;
}

.services-row{
    margin-right: -15px;
    margin-left: -15px;
}

.service-box {
    margin-bottom: 20px;
    border: 1px solid #dee2e6;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease, transform 0.3s ease, background 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
}

.service-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #eba5e0, #b72737);
}

.service-box:hover .service-content,
.service-box:hover h4,
.service-box:hover p,
.service-box:hover .bi {
    color: #fff;
}
.service-content {
    padding: 20px;
}

.bi {
    font-size: 24px;
    color: #343a40;
}

/* Main Heading styling */
.service-h4{
    font-weight: 900;
    margin: 0 0 15px;
    color: #343a40;
    font-size: 22px;
}

/* Paragraph styling */
.service-caption {
    margin: 0;
    color: #666;
}

.service-image{
    max-width: 50px;
    height: auto; 
    margin: 0 auto;
    border-radius: 8px;
    text-align: left; 
}

/* Responsive styling for small screens */
@media (max-width: 768px) {
    .services-container {
        padding: 0 10px;
    }

    .service-box {
        margin-bottom: 15px;
    }

    .service-content {
        padding: 15px;
    }

    .service-image{
        max-width: 40px;
    }
}
