#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: white;
  }
  
  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  #press {
    background-color: #ff4c68;
    padding-bottom: 3%;
  }
  
  .press-img {
    width: 15%;
    margin: 20px 20px 50px;
  }
  
  .carousel-item-testimonials {
    padding: 7% 15%;
  }